<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent!</h3>
      <hr>
      <app-servers></app-servers>
      <hr>
      <button class="btn btn-info" (click)="toggleDisplay()">Display Details</button>
      <p *ngIf="detailsNeeded">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur cupiditate ipsa
                               perspiciatis porro.
                               Consectetur
                               delectus dolores eos hic ipsa iure libero obcaecati officiis placeat quae recusandae, reprehenderit, sapiente unde
                               veritatis!</p>
      <div>
        button clicks:
        <div
          *ngFor="let buttonClick of buttonClicks; let i = index"
          [ngStyle]="{backgroundColor:getClicksColor(i)}"
          [ngClass]="{exceedingFive: i > 4}">
    {{buttonClick}}
          <span *ngIf="buttonClicks.length > 1">|</span>
  </div>
      </div>
    </div>
  </div>
</div>
